<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <em>Track My Mixes
  </em> is a Social Network Template for Rails 4.2.0. It has been designed and coded by ALXS Design and will be used in production for a new cloud-based audio sharing and promotion web-app.
</p>
